<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="frames"></div>
    <script>
        var ws = new WebSocket("ws://127.0.0.1:5678/");
        ws.onmessage = function (event) {
            var data = JSON.parse(event.data);
            document.getElementById('frames').innerHTML = '';
            data.forEach(element => {
                f = document.createElement('img');
                f.src = "data:image/jpeg;base64," + element;
                document.getElementById('frames').append(f);
            });
        };
    </script>
</body>
</html>